# Behavior tryStart
public-f net.minecraft.world.entity.ai.behavior.Behavior m_22554_(Lnet/minecraft/server/level/ServerLevel;Lnet/minecraft/world/entity/LivingEntity;J)Z
# Behavior endTimestamp
public net.minecraft.world.entity.ai.behavior.Behavior f_22524_
# Behavior status
public net.minecraft.world.entity.ai.behavior.Behavior f_22523_